@{
    ViewBag.Title = "LaptopNganNgo - Trang chủ";
    Layout = "~/Views/_TrangChu.cshtml";
}

<div id="header">
    <div class="rectangle"></div>
    <div class="circle"></div>

    <a href="https://localhost:44357/TrangChu/Index">
        <p id="Tittle">LaptopNganNgo</p>
        <img id="LetterL" width="70"
             src="~/Images/royal-alphabet-crown-letter-english-l-512.png" />
    </a>

    <div>
        <img id="User_icon" width="40"
             src="~/Images/User.png" />
        @if (Session["HoTen"] != null)
        {
            <p id="Hello_Text">@Session["HoTen"].ToString()</p>
            <a href="@Url.Action("LogOut", "DangNhap")" id="Button_LogOut">Đăng xuất</a>
        }
        else if (Session["Email"] != null && Session["HoTen"] == null)
        {
            <p id="Hello_Text">Chào bạn,</p>
            <a href="@Url.Action("LogOut", "DangNhap")" id="Button_LogOut">Đăng xuất</a>
        }
        else
        {
            <a href="https://localhost:44357/DangNhap/Index">

                <p id="Log_in">Đăng nhập</p>
            </a>
            <p id="text_1">hoặc Đăng ký</p>
        }
    </div>
    <div>
        <input id="Search_textbox" type="text"
               placeholder="Tìm kiếm ở đây" />
        <img src="~/Images/search.png"
             width="19"
             style="
                 position: absolute;
                 left: 445.37px;
                 top: 139px;" />
        <a href="https://localhost:44357/TimKiemSP/Index">
            <button id="Search_button">Tìm</button>
        </a>
    </div>

    <div>
        <img id="Cart_image" src="~/Images/shopping-cart.png" width="39" />
        <p id="Cart_number">0</p>
        <a href="https://localhost:44357/GioHang/Index">
            <p id="Cart_text">Giỏ hàng</p>
        </a>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Danh mục sản phẩm</button>
        <div class="dropdown-content">
            <a href="#">Laptop Gaming  &emsp;&emsp;></a>
            <div id="Laptop_Gaming_Content">
                <p>
                    <a href="#">Acer</a>
                    <a href="#">Asus</a>
                    <a href="#">MSI</a>
                    <a href="#">Dell</a>
                    <a href="#">HP</a>
                    <a href="#">Lenovo</a>
                </p>
            </div>
            <a href="#">Laptop văn phòng  &emsp;></a>
            <div id="Laptop_VP_Content">
                <p>
                    <a href="#">Acer</a>
                    <a href="#">Asus</a>
                    <a href="#">MSI</a>
                    <a href="#">Dell</a>
                    <a href="#">HP</a>
                    <a href="#">Lenovo</a>
                </p>
            </div>
            <a href="#">Laptop sinh viên&emsp;&emsp;></a>
            <div id="Laptop_SV_Content">
                <p>
                    <a href="#">Acer</a>
                    <a href="#">Asus</a>
                    <a href="#">MSI</a>
                    <a href="#">Dell</a>
                    <a href="#">HP</a>
                    <a href="#">Lenovo</a>
                </p>
            </div>
        </div>
    </div>

    <div class="Menu_Bar">
        <a id="Ban_Hang" href="#">&emsp;Chính sách bán hàng</a>
        <a id="Bao_Hanh" href="#">&emsp;Chính sách bảo hành</a>
        <a id="Van_Chuyen" href="#">&emsp;Chính sách vận chuyển</a>
        <a id="Khuyen_Mai" href="#">&emsp;Khuyến mãi</a>
        <a id="Cham_Soc" href="https://localhost:44357/CSKH/Index">&emsp;C.S Khách hàng</a>



        <img src="~/Images/policy.png"
             width="30"
             style="
            position:absolute;
            left:323px;
            top:215px;" />

        <img src="~/Images/wrench.png"
             width="30"
             style="
            position:absolute;
            left:560px;
            top:215px;" />

        <img src="~/Images/truck.png"
             width="30"
             style="
            position:absolute;
            left:800px;
            top:215px;" />

        <img src="~/Images/promotion.png"
             width="30"
             style="
            position:absolute;
            left:1095px;
            top:215px;" />

        <img src="~/Images/support.png"
             width="30"
             style="
            position:absolute;
            left:1320px;
            top:215px;" />



    </div>

    <div id="logo_footer">
        <img src="~/Images/royal-alphabet-crown-letter-english-l-512.png"
             width="70" />
    </div>

    <div class="HomePage_Images">
        <img id="Home_page_1"
             src="~/Images/Home_page_1.png"
             width="1466"
             height="553" />

        <img id="Home_page_2"
             src="~/Images/Home_page_2.png"
             width="332"
             height="242" />

        <img id="Home_page_3"
             src="~/Images/Home_page_3.png"
             width="332"
             height="242" />

        <img id="Home_page_4"
             src="~/Images/Home_page_4.png"
             width="332"
             height="242" />

        <img id="Home_page_5"
             src="~/Images/Home_page_5.png"
             width="332"
             height="242" />
    </div>

    <span>
        <img id="Next_Image"
             src="~/Images/next.png"
             width="68" />

        <img id="Back_Image"
             src="~/Images/next.png"
             width="68" />
    </span>

    <div id="rectangle2">
        HOT DEAL TRONG THÁNG!
    </div>
    <div id="rectangle3">
    </div>

    <a href="https://localhost:44357/XemSP/Index">
        <div class="HOT_DEAL">
            <img id="HotDeal1"
                 src="~/Images/HotDeal1.png" />
            <img id="Star1_HotDeal1"
                 src="~/Images/star.png" />
            <img id="Star2_HotDeal1"
                 src="~/Images/star.png" />
            <img id="Star3_HotDeal1"
                 src="~/Images/star.png" />
            <img id="Star4_HotDeal1"
                 src="~/Images/star.png" />
            <img id="Star5_HotDeal1"
                 src="~/Images/star.png" />

            <img id="HotDeal2"
                 src="~/Images/HotDeal2.png" />
            <img id="Star1_HotDeal2"
                 src="~/Images/star.png" />
            <img id="Star2_HotDeal2"
                 src="~/Images/star.png" />
            <img id="Star3_HotDeal2"
                 src="~/Images/star.png" />
            <img id="Star4_HotDeal2"
                 src="~/Images/star.png" />
            <img id="Star5_HotDeal2"
                 src="~/Images/star.png" />

            <img id="HotDeal3"
                 src="~/Images/HotDeal3.png" />
            <img id="Star1_HotDeal3"
                 src="~/Images/star.png" />
            <img id="Star2_HotDeal3"
                 src="~/Images/star.png" />
            <img id="Star3_HotDeal3"
                 src="~/Images/star.png" />
            <img id="Star4_HotDeal3"
                 src="~/Images/star.png" />
            <img id="Star5_HotDeal3"
                 src="~/Images/star.png" />

            <img id="HotDeal4"
                 src="~/Images/HotDeal4.png" />
            <img id="Star1_HotDeal4"
                 src="~/Images/star.png" />
            <img id="Star2_HotDeal4"
                 src="~/Images/star.png" />
            <img id="Star3_HotDeal4"
                 src="~/Images/star.png" />
            <img id="Star4_HotDeal4"
                 src="~/Images/star.png" />
            <img id="Star5_HotDeal4"
                 src="~/Images/star.png" />

            <p id="HotDeal1_Review">92 review(s)</p>
            <p id="HotDeal2_Review">67 review(s)</p>
            <p id="HotDeal3_Review">162 review(s)</p>
            <p id="HotDeal4_Review">38 review(s)</p>

            <p id="HotDeal1_Text">
                Laptop Acer Nitro 5 2020 <br />
                AN515-55-5923 Geforce    <br />
                GTX 1650Ti 4GB Intel...  <br />
            </p>

            <p id="HotDeal2_Text">
                LAPTOP GAMING MSI GF75      <br />
                THIN 10SCXR 248VN GEFOR     <br />
                GTX1650 4GB INTEL CORE I7   <br />
            </p>

            <p id="HotDeal3_Text">
                Laptop Gaming Asus TUF A15      <br />
                FA506IH-AL018T GTX 1650 4GB     <br />
                Ryzen 5-4600H 8GB 512GB 15.6″   <br />
            </p>

            <p id="HotDeal4_Text">
                LAPTOP ACER NITRO 5         <br />
                2020 AN515-55-77P9 GTX      <br />
                1650TI 4GB INTEL CORE I7    <br />
            </p>

            <p id="HotDeal1_GiaChuaGiam">23.990.000₫</p>
            <p id="HotDeal1_GiaDaGiam">14.490.000₫</p>

            <p id="HotDeal2_GiaChuaGiam">26.990.000₫</p>
            <p id="HotDeal2_GiaDaGiam">15.490.000₫</p>

            <p id="HotDeal3_GiaChuaGiam">20.990.000₫</p>
            <p id="HotDeal3_GiaDaGiam">12.490.000₫</p>

            <p id="HotDeal4_GiaChuaGiam">28.990.000₫</p>
            <p id="HotDeal4_GiaDaGiam">25.490.000₫</p>

        </div>

        <div id="rectangle_HotDealLeft">
            <img id="Back_HotDeal"
                 src="~/Images/iconfinder_arrow-right-01_186409.png"
                 width="44" />
        </div>
        <div id="rectangle_HotDealRight">
            <img id="Next_HotDeal"
                 src="~/Images/iconfinder_arrow-right-01_186409.png"
                 width="44" />

        </div>
    </a>


    <div class="Footer">
        <p id="text1_ft">Sản Phẩm  </p>
        <p id="text2_ft">Tiếp Xúc </p>
        <p id="text3_ft">Theo Dõi  </p>
        <p id="text4_ft">Đăng Ký </p>

        <pre id="text5_ft">Đặc Trưng
Quảng cáo  
Tải Xuống</pre>

        <pre id="text6_ft">Liên hệ
FAQ  
Trợ Giúp</pre>

        <input id="Email_textbox" type="text"
               placeholder="Nhập Email của bạn" />
        <img id="FB_ft" src="~/Images/FB.png "
             width="30" />
        <img id="IG_ft" src="~/Images/IG.png "
             width="30" />
    </div>
</div> 

