
@{
    ViewBag.Title = "Chăm sóc khách hàng";
    Layout = "~/Views/_CSKH.cshtml";
}

<div id="header">
    <div class="rectangle"></div>
    <div class="circle"></div>

    <a href="#">
        <a href="https://localhost:44357/TrangChu/Index">
            <p id="Tittle">LaptopNganNgo</p>

            <img id="LetterL" width="70"
                 src="~/Images/royal-alphabet-crown-letter-english-l-512.png" />
        </a>
    </a>
    <img id="User_icon" width="40"
         src="~/Images/User.png" />

    @if (Session["HoTen"] != null)
    {
        <p id="Hello_Text">@Session["HoTen"].ToString()</p>
        <a href="@Url.Action("LogOut", "DangNhap")" id="Button_LogOut">Đăng xuất</a>
    }
    else if (Session["Email"] != null && Session["HoTen"] == null)
    {
        <p id="Hello_Text">Chào bạn,</p>
        <a href="@Url.Action("LogOut", "DangNhap")" id="Button_LogOut">Đăng xuất</a>
    }
    else
    {
        <a href="https://localhost:44357/DangNhap/Index">

            <p id="Log_in">Đăng nhập</p>
        </a>
        <p id="text_1">hoặc Đăng ký</p>
    }

    <div>
        <input id="Search_textbox" type="text"
               placeholder="Tìm kiếm ở đây" />
        <img src="~/Images/search.png"
             width="19"
             style="
                 position: absolute;
                 left: 445.37px;
                 top: 139px;" />
        <a href="https://localhost:44357/TimKiemSP/Index">
            <button id="Search_button">Tìm</button>
        </a>
    </div>

    <div>
        <img id="Cart_image" src="~/Images/shopping-cart.png" width="39" />
        <p id="Cart_number">0</p>
        <a href="https://localhost:44357/GioHang/Index">
            <p id="Cart_text">Giỏ hàng</p>
        </a>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Danh mục sản phẩm</button>
        <div class="dropdown-content">
            <a href="#">Laptop Gaming  &emsp;&emsp;></a>
            <div id="Laptop_Gaming_Content">
                <p>
                    <a href="#">Acer</a>
                    <a href="#">Asus</a>
                    <a href="#">MSI</a>
                    <a href="#">Dell</a>
                    <a href="#">HP</a>
                    <a href="#">Lenovo</a>
                </p>
            </div>
            <a href="#">Laptop văn phòng  &emsp;></a>
            <div id="Laptop_VP_Content">
                <p>
                    <a href="#">Acer</a>
                    <a href="#">Asus</a>
                    <a href="#">MSI</a>
                    <a href="#">Dell</a>
                    <a href="#">HP</a>
                    <a href="#">Lenovo</a>
                </p>
            </div>
            <a href="#">Laptop sinh viên&emsp;&emsp;></a>
            <div id="Laptop_SV_Content">
                <p>
                    <a href="#">Acer</a>
                    <a href="#">Asus</a>
                    <a href="#">MSI</a>
                    <a href="#">Dell</a>
                    <a href="#">HP</a>
                    <a href="#">Lenovo</a>
                </p>
            </div>
        </div>
    </div>

    <div class="Menu_Bar">
        <a id="Ban_Hang" href="#">&emsp;Chính sách bán hàng</a>
        <a id="Bao_Hanh" href="#">&emsp;Chính sách bảo hành</a>
        <a id="Van_Chuyen" href="#">&emsp;Chính sách vận chuyển</a>
        <a id="Khuyen_Mai" href="#">&emsp;Khuyến mãi</a>
        <a id="Cham_Soc" href="#">&emsp;C.S Khách hàng</a>

        <img src="~/Images/policy.png"
             width="30"
             style="
            position:absolute;
            left:323px;
            top:215px;" />

        <img src="~/Images/wrench.png"
             width="30"
             style="
            position:absolute;
            left:560px;
            top:215px;" />

        <img src="~/Images/truck.png"
             width="30"
             style="
            position:absolute;
            left:800px;
            top:215px;" />

        <img src="~/Images/promotion.png"
             width="30"
             style="
            position:absolute;
            left:1095px;
            top:215px;" />

        <img src="~/Images/support.png"
             width="30"
             style="
            position:absolute;
            left:1320px;
            top:215px;" />
    </div>

</div>

<div class="Footer">

    <div id="logo_footer">
        <img src="~/Images/royal-alphabet-crown-letter-english-l-512.png "
             width="70" />
    </div>
    <p id="text1_ft">Sản Phẩm  </p>
    <p id="text2_ft">Tiếp Xúc </p>
    <p id="text3_ft">Theo Dõi  </p>
    <p id="text4_ft">Đăng Ký </p>

    <pre id="text5_ft">Đặc Trưng
Quảng cáo  
Tải Xuống</pre>

    <pre id="text6_ft">Liên hệ
FAQ  
Trợ Giúp</pre>

    <input id="Email_textbox" type="text"
           placeholder="Nhập Email của bạn" />
    <img id="FB_ft" src="~/Images/FB.png "
         width="30" />
    <img id="IG_ft" src="~/Images/IG.png "
         width="30" />

</div>

<div class="CSKH">
    <p id="CSKH_Name">Admin (online)</p>

    <img id="CSKH_UserIcon"
         src="~/Images/user_CSKH.png"
         width="60" />

    <p id="CSKH_Text">Xin chào, tôi có thể giúp gì cho bạn?</p>

    <input id="CSKH_Chat"
           type="text"
           placeholder="Nhập tin nhắn..." />

    <img id="CSKH_Image"
         src="~/Images/Image.png"
         width="32">

    <img id="CSKH_Send"
         src="~/Images/send.png"
         width="38" />
</div>


