
@{
    ViewBag.Title = "Cảm ơn quý khách";
    Layout = "~/Views/_TT_ThanhCong.cshtml";
}

<div id="header">
    <div class="rectangle"></div>
    <div class="circle"></div>

    <a href="#">
        <a href="https://localhost:44357/TrangChu/Index">
            <p id="Tittle">LaptopNganNgo</p>
            <img id="LetterL" width="70"
                 src="~/Images/royal-alphabet-crown-letter-english-l-512.png" />
        </a>

</div>

<div class="Footer">

    <div id="logo_footer">
        <img src="~/Images/royal-alphabet-crown-letter-english-l-512.png "
             width="70" />
    </div>
    <p id="text1_ft">Sản Phẩm  </p>
    <p id="text2_ft">Tiếp Xúc </p>
    <p id="text3_ft">Theo Dõi  </p>
    <p id="text4_ft">Đăng Ký </p>

    <pre id="text5_ft">Đặc Trưng
Quảng cáo  
Tải Xuống</pre>

    <pre id="text6_ft">Liên hệ
FAQ  
Trợ Giúp</pre>

    <input id="Email_textbox" type="text"
           placeholder="Nhập Email của bạn" />
    <img id="FB_ft" src="~/Images/FB.png "
         width="30" />
    <img id="IG_ft" src="~/Images/IG.png "
         width="30" />

</div>

<img id="Tym" src="~/Images/tym.png" />
<p id="Thanks">Cám ơn bạn đã mua hàng tại LaptopNganNgo</p>
<p id="SDH">Mã số đơn hàng của bạn:</p>
<button id="bt1">LT21905</button>
<p id="lb1">Bạn có thể theo dõi lộ trình đơn hàng tại</p>
<a href="https://localhost:44357/TT_LoTrinh/Index">
    <p id="lb2">đây</p>
</a>
<img id="H" src="~/Images/ahihi.png" />
<p id="lb3">Thời gian giao hàng dự kiến từ 2 - 3 ngày, không kể Chủ Nhật</p>

