@{
    ViewBag.Title = "Tìm kiếm sản phẩm";
    Layout = "~/Views/_TimKiemSP.cshtml";
}
<div id="header">
    <div class="rectangle"></div>
    <div class="circle"></div>

    <a href="https://localhost:44357/TrangChu/Index">
        <p id="Tittle">LaptopNganNgo</p>
        <img id="LetterL" width="70"
             src="~/Images/royal-alphabet-crown-letter-english-l-512.png" />
    </a>

    <img id="User_icon" width="40"
         src="~/Images/User.png" />

    @if (Session["HoTen"] != null)
    {
        <p id="Hello_Text">@Session["HoTen"].ToString()</p>
        <a href="@Url.Action("LogOut", "DangNhap")" id="Button_LogOut">Đăng xuất</a>
    }
    else if (Session["Email"] != null && Session["HoTen"] == null)
    {
        <p id="Hello_Text">Chào bạn,</p>
        <a href="@Url.Action("LogOut", "DangNhap")" id="Button_LogOut">Đăng xuất</a>
    }
    else
    {
        <a href="https://localhost:44357/DangNhap/Index">

            <p id="Log_in">Đăng nhập</p>
        </a>
        <p id="text_1">hoặc Đăng ký</p>
    }

    <div>
        <input id="Search_textbox" type="text"
               placeholder="Tìm kiếm ở đây" />
        <img src="~/Images/search.png"
             width="19"
             style="
                 position: absolute;
                 left: 445.37px;
                 top: 139px;" />
        <a href="https://localhost:44357/TimKiemSP/Index">
            <button id="Search_button">Tìm</button>
        </a>
    </div>

    <div>
        <img id="Cart_image" src="~/Images/shopping-cart.png" width="39" />
        <p id="Cart_number">0</p>
        <a href="https://localhost:44357/GioHang/Index">
            <p id="Cart_text">Giỏ hàng</p>
        </a>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Danh mục sản phẩm</button>
        <div class="dropdown-content">
            <a href="#">Laptop Gaming  &emsp;&emsp;></a>
            <div id="Laptop_Gaming_Content">
                <p>
                    <a href="#">Acer</a>
                    <a href="#">Asus</a>
                    <a href="#">MSI</a>
                    <a href="#">Dell</a>
                    <a href="#">HP</a>
                    <a href="#">Lenovo</a>
                </p>
            </div>
            <a href="#">Laptop văn phòng  &emsp;></a>
            <div id="Laptop_VP_Content">
                <p>
                    <a href="#">Acer</a>
                    <a href="#">Asus</a>
                    <a href="#">MSI</a>
                    <a href="#">Dell</a>
                    <a href="#">HP</a>
                    <a href="#">Lenovo</a>
                </p>
            </div>
            <a href="#">Laptop sinh viên&emsp;&emsp;></a>
            <div id="Laptop_SV_Content">
                <p>
                    <a href="#">Acer</a>
                    <a href="#">Asus</a>
                    <a href="#">MSI</a>
                    <a href="#">Dell</a>
                    <a href="#">HP</a>
                    <a href="#">Lenovo</a>
                </p>
            </div>
        </div>
    </div>

    <div class="Menu_Bar">
        <a id="Ban_Hang" href="#">&emsp;Chính sách bán hàng</a>
        <a id="Bao_Hanh" href="#">&emsp;Chính sách bảo hành</a>
        <a id="Van_Chuyen" href="#">&emsp;Chính sách vận chuyển</a>
        <a id="Khuyen_Mai" href="#">&emsp;Khuyến mãi</a>
        <a id="Cham_Soc" href="https://localhost:44357/CSKH/Index">&emsp;C.S Khách hàng</a>

        <img src="~/Images/policy.png"
             width="30"
             style="
            position:absolute;
            left:323px;
            top:215px;" />

        <img src="~/Images/wrench.png"
             width="30"
             style="
            position:absolute;
            left:560px;
            top:215px;" />

        <img src="~/Images/truck.png"
             width="30"
             style="
            position:absolute;
            left:800px;
            top:215px;" />

        <img src="~/Images/promotion.png"
             width="30"
             style="
            position:absolute;
            left:1095px;
            top:215px;" />

        <img src="~/Images/support.png"
             width="30"
             style="
            position:absolute;
            left:1320px;
            top:215px;" />
    </div>

</div>

<a href="https://localhost:44357/XemSP/Index">
    <div class="TimKiemSP">
        <img id="ImgProduct1"
             src="~/Images/HotDeal1.png" />
        <img id="Start1_Pro_1"
             src="~/Images/star.png" />
        <img id="Start2_Pro_1"
             src="~/Images/star.png" />
        <img id="Start3_Pro_1"
             src="~/Images/star.png" />
        <img id="Start4_Pro_1"
             src="~/Images/star.png" />
        <img id="Start5_Pro_1"
             src="~/Images/star.png" />

        <img id="ImgProduct2"
             src="~/Images/HotDeal2.png" />
        <img id="Start1_Pro_2"
             src="~/Images/star.png" />
        <img id="Start2_Pro_2"
             src="~/Images/star.png" />
        <img id="Start3_Pro_2"
             src="~/Images/star.png" />
        <img id="Start4_Pro_2"
             src="~/Images/star.png" />
        <img id="Start5_Pro_2"
             src="~/Images/star.png" />

        <img id="ImgProduct3"
             src="~/Images/HotDeal3.png" />
        <img id="Start1_Pro_3"
             src="~/Images/star.png" />
        <img id="Start2_Pro_3"
             src="~/Images/star.png" />
        <img id="Start3_Pro_3"
             src="~/Images/star.png" />
        <img id="Start4_Pro_3"
             src="~/Images/star.png" />
        <img id="Start5_Pro_3"
             src="~/Images/star.png" />

        <p id="Review1">92 review(s) </p>
        <p id="Review2">67 review(s) </p>
        <p id="Review3">167 review(s) </p>

        <p id="Product1_text">
            Laptop Acer Nitro 5 2020    <br />
            AN515-55-5923 Geforce       <br />
            GTX 1650Ti 4GB Intel...     <br />
        </p>

        <p id="Product2_text">
            LAPTOP GAMING MSI GF75      <br />
            THIN 10SCXR 248VN GEFOR     <br />
            GTX1650 4GB INTEL CORE I7   <br />
        </p>

        <p id="Product3_text">
            Laptop Gaming Asus TUF A15      <br />
            FA506IH-AL018T GTX 1650 4GB     <br />
            Ryzen 5-4600H 8GB 512GB 15.6″   <br />
        </p>

        <p id="Price_new1">
            <del> 23.990.000đ </del>
        </p>
        <p id="Price_old1">14.490.000đ </p>

        <p id="Price_new2">
            <del> 26.990.000đ </del>
        </p>
        <p id="Price_old2">15.490.000đ </p>

        <p id="Price_new3">
            <del> 20.990.000đ </del>
        </p>
        <p id="Price_old3">12.490.000đ </p>

        <img id="Previous" src="~/Images/back_TimKiemSP.png" />
        <p id="Page1">1 </p>
        <p id="Page2">2 </p>
        <p id="Page3">3 </p>
        <p id="Page4">4 </p>
        <p id="Page5">5 </p>
        <p id="Page6">6 </p>
        <img id="Next" src="~/Images/next_TimKiemSP.png" />
    </div>
</a>

<div class="CheckBox_TimKiemSP">
<form>
    <input type="checkbox"
           style="
                      width: 22.0px;
                      height: 22.0px;
                      position:absolute;
                      left:40px;
                      top:280px;" />

    <input type="checkbox"
           style="
                      width: 22.0px;
                      height: 22.0px;
                      position:absolute;
                      left:40px;
                      top:320px;" />

    <input type="checkbox"
           style="
                      width: 22.0px;
                      height: 22.0px;
                      position:absolute;
                      left:40px;
                      top:360px;" />

    <input type="checkbox"
           style="
                      width: 22.0px;
                      height: 22.0px;
                      position:absolute;
                      left:40px;
                      top:400px;" />
</form>
<p id="Price1">Dưới 10 triệu </p>
<p id="Price2">Từ 10 triệu - 15 triệu </p>
<p id="Price3">Từ 15 triệu - 20 triệu </p>
<p id="Price4">Trên 20 triệu </p>
</div>

<div class="Footer">

    <div id="logo_footer">
        <img src="~/Images/royal-alphabet-crown-letter-english-l-512.png "
             width="70" />
    </div>
    <p id="text1_ft">Sản Phẩm  </p>
    <p id="text2_ft">Tiếp Xúc </p>
    <p id="text3_ft">Theo Dõi  </p>
    <p id="text4_ft">Đăng Ký </p>

    <pre id="text5_ft">Đặc Trưng
Quảng cáo  
Tải Xuống</pre>

    <pre id="text6_ft">Liên hệ
FAQ  
Trợ Giúp</pre>

    <input id="Email_textbox" type="text"
           placeholder="Nhập Email của bạn" />
    <img id="FB_ft" src="~/Images/FB.png "
         width="30" />
    <img id="IG_ft" src="~/Images/IG.png "
         width="30" />

</div>

