
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_QT_ThemHangSP.cshtml";
}

<div class="Header">

    <img id="Logo_Header"
         src="~/Images/bird.png"
         width="99" />
    <p id="Text_Header">LaptopNganNgo</p>

    <p id="Product_SanPham">Sản phẩm</p>
    <p id="Product_DonHang">Đơn hàng</p>
    <p id="Product_KhachHang">Khách hàng</p>
    <p id="Product_DoanhThu">Doanh thu</p>
    <p id="Product_TaiKhoan">Tài khoản</p>

    <span id="rectangle"></span>
</div>
<div class="Footer">
    <p id="Footer_Text">
        2021
        <br />Powered by Squad Ngáo Ngơ
    </p>
</div>

<p id="Text">Thêm hãng sản phẩm</p>

<input id="Add" placeholder="Tìm kiếm hãng sản phẩm">

<img id="dell" src="~/Images/dell.png" />
<img id="lenovo" src="~/Images/Lenovo.png" />
<img id="apple" src="~/Images/apple.jpg" />
<img id="acer" src="~/Images/Acer.png" />
<img id="asus" src="~/Images/Asus.png" />
<img id="razer" src="~/Images/Razer.png" />
<img id="hp" src="~/Images/HP.jpg" />
<img id="msi" src="~/Images/MSI.jpg" />

<img id="left-ar" src="~/Images/left-arrow.png" />
<img id="right-ar" src="~/Images/right-arrow.png" />

<button id="btn">Quay về</button>

