.rectangle {
    width: auto;
    height: 95.01320904643597px;
    font-family: Arial;
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    line-height: 18px;
    color: #333333;
    background: linear-gradient(#8D9CF2,#FF8585);
}

.circle {
    width: 82.00000000000011px;
    height: 74.51294025289904px;
    position: absolute;
    left: 528px;
    top: 8px;
    font-family: Arial;
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    line-height: 18px;
    color: #B2B2B2;
    border: 2px dashed #000000;
    border-radius: 50%;
}

#LetterL {
    position: absolute;
    left: 535px;
    top: 10px;
}

#User_icon {
    position: absolute;
    left: 1390.43px;
    top: 30px;
}

#Tittle {
    position: absolute;
    font-family: Arial;
    font-size: 45px;
    top: -20px;
    left: 630.05px;
    color: #333333;
}

#Log_in {
    width: 96.44140625px;
    height: 21.0px;
    font-family: Arial;
    font-size: 18.666668px;
    font-weight: 700;
    color: #000000;
    position: absolute;
    left: 1449.433px;
    top: 10px;
}

#text_1 {
    height: 21.0px;
    font-family: Arial;
    font-size: 18.666668px;
    font-weight: 400;
    color: #000000;
    position: absolute;
    left: 1449.433px;
    top:34px;
}

#Search_textbox {
    width: 462.2120465041146px;
    height: 47.0px;
    font-family: Arial;
    font-size: 18px;
    color: #666666;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 0px;
    padding-top: 1px;
    padding-right: 16px;
    padding-bottom: 1px;
    padding-left: 41px;
    position: absolute;
    left: 430px;
    top: 125px;
}

::-webkit-input-placeholder {
    color: #B4B4B4;
}

#Search_button {
    width: 241.2505113563641px;
    height: 51px;
    font-family: Arial;
    font-size: 20.0px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    background-color: #282828;
    border: 0px solid #404040;
    border-radius: 0px;
    position: absolute;
    left: 932.37px;
    top:125px;
}

#Search_button:hover {
    background-color: #444444;
}

#Cart_image {
    width: 35.0px;
    height: 36.00000000000006px;
    border: 1px solid #000000;
    position: absolute;
    left: 1439.43px;
    top: 131px;
}

#Cart_number {
    width: 25px;
    height: 20px;
    font-family: Arial;
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    line-height: 18px;
    color: #FFFFFF;
    background-color: #FF0000;
    position: absolute;
    left: 1455px;
    top: 105px;
    border-radius: 50%;    
}

#Cart_text {
    width: 63.550785064697266px;
    height: 16.0px;
    font-family: Arial;
    font-size: 14.666667px;
    font-weight: 700;
    color: #000000;
    background-color: #FFFFFF;
    position: absolute;
    left: 1493.72px;
    top: 126px;
}

.dropbtn {
    width: 242.78373603646534px;
    height: 59.999999999999886px;
    font-family: Arial;
    font-size: 17.333334px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    background-color: #282828;
    border: 0px solid #404040;
    border-radius: 0px;
}

.dropdown {
    position: absolute;
    display: inline-block;
    left: 64.32px;
    top: 204px;
}

.dropdown-content {
    font-family: Arial;
    font-size: 17.333334px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 242.78373603646534px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover{
            background-color: #f1f1f1;
        }

        .dropdown-content a:hover + #Laptop_Gaming_Content{
            display:block;
        }

         .dropdown-content a:hover + #Laptop_VP_Content{
            display:block;
        }

         .dropdown-content a:hover + #Laptop_SV_Content{
            display:block;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #444444;
}

#Laptop_Gaming_Content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#Laptop_Gaming_Content {
    text-decoration: none;
    left: 245px;
    top: 0px;
    font-family: Arial;
    font-size: 17.333334px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 112px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    line-height: 1.6;
}

    #Laptop_Gaming_Content a:hover {
        background-color: #f1f1f1;
    }

    #Laptop_Gaming_Content:hover {
        display:block;
    }

#Laptop_VP_Content {
    text-decoration: none;
    left: 245px;
    top: 44px;
    font-family: Arial;
    font-size: 17.333334px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 112px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    line-height: 1.6;
}

    #Laptop_VP_Content a:hover {
        background-color: #f1f1f1;
    }

    #Laptop_VP_Content:hover {
        display: block;
    }

#Laptop_SV_Content {
    text-decoration: none;
    left: 245px;
    top: 88px;
    font-family: Arial;
    font-size: 17.333334px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 112px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    line-height: 1.6;
}

#Laptop_SV_Content a:hover {
    background-color: #f1f1f1;
}

#Laptop_SV_Content:hover {
    display: block;
}

#Ban_Hang {
    text-decoration: none;
    width: 242.03796469648415px;
    height: 58px;
    font-family: Arial;
    font-size: 17.333334px;
    font-weight: 400;
    display:flex;
    justify-content:center;
    align-items:center;
    color: #000000;
    background-color: #CBCBCB;
    border: 1px solid #0487D9;
    position: absolute;
    left: 308px;
    top: 204px;
}

#Ban_Hang:hover {
    font-weight:bold;
}

#Bao_Hanh {
    text-decoration: none;
    width: 242.03796469648415px;
    height: 58px;
    font-family: Arial;
    font-size: 17.333334px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    background-color: #CBCBCB;
    border: 1px solid #0487D9;
    position: absolute;
    left: 552.7px;
    top: 204px;
}

#Bao_Hanh:hover {
    font-weight:bold;
}

#Van_Chuyen {
    text-decoration: none;
    width: 242.03796469648415px;
    height: 58px;
    font-family: Arial;
    font-size: 17.333334px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    background-color: #CBCBCB;
    border: 1px solid #0487D9;
    position: absolute;
    left: 797.23px;
    top: 204px;
}

#Van_Chuyen:hover {
    font-weight: bold;
}

#Khuyen_Mai {
    text-decoration: none;
    width: 242.03796469648415px;
    height: 58px;
    font-family: Arial;
    font-size: 17.333334px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    background-color: #CBCBCB;
    border: 1px solid #0487D9;
    position: absolute;
    left: 1041.9px;
    top: 204px;
}

#Khuyen_Mai:hover {
    font-weight: bold;
}

#Cham_Soc {
    text-decoration: none;
    width: 242.03796469648415px;
    height: 58px;
    font-family: Arial;
    font-size: 17.333334px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    background-color: #CBCBCB;
    border: 1px solid #0487D9;
    position: absolute;
    left: 1287px;
    top: 204px;
}

#Cham_Soc:hover {
    font-weight: bold;
}

#header {
    width: 100%;
    background: #f00;
}

body {
    width: 1579px;
    padding: 0;
    margin: 0;
}

#logo_footer {
    width: 82.00000000000011px;
    height: 74.51294025289904px;
    font-family: Arial;
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    line-height: 18px;
    color: #B2B2B2;
    border: 2px dashed #000000;
    border-radius: 50%;
    position: absolute;
    top: 2120px;
    left: 111.5px;
}

#Home_page_1 {
    position: absolute;
    left: 64.32px;
    top: 300px;
}

#Home_page_1:hover {
    opacity: 0.5;
}


#Home_page_2 {
    position: absolute;
    left: 64.32px;
    top: 901px;
}

#Home_page_2:hover {
    opacity: 0.5;
}

#Home_page_3 {
    position: absolute;
    left: 443px;
    top: 901px;
}

#Home_page_3:hover {
    opacity: 0.5;
}

#Home_page_4 {
    position: absolute;
    left: 820px;
    top: 901px;
}

#Home_page_4:hover {
    opacity: 0.5;
}


#Home_page_5 {
    position: absolute;
    left: 1198px;
    top: 901px;
}

#Home_page_5:hover {
    opacity: 0.5;
}

#Next_Image {
    position: absolute;
    left: 1440px;
    top:526px;
    filter:invert(1);
    cursor: pointer;
}

#Back_Image {
    position: absolute;
    left: 88.5px;
    top: 526px;
    filter: invert(1);
    transform: rotate(-180deg);
    cursor: pointer;
}

#rectangle2 {
    width: 562.8338238075347px;
    height: 95.0132090464358px;
    font-family: Arial;
    font-size: 26.666668px;
    font-weight: 700;
    text-align: center;
    line-height: 18px;
    color: #333333;
    background: linear-gradient(#8D9CF2,#FF8585);
    position: absolute;
    left: 0px;
    top: 1209.49px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rectangle3 {
    width: 1016px;
    height: 95.0132090464358px;
    font-family: Arial;
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    line-height: 18px;
    color: #333333;
    background-color: #CBCBCB;
    position: absolute;
    left: 562.83px;
    top: 1209.49px;
}

#HotDeal1 {
    width: 287.6119961179237px;
    height: 313.76768575220353px;
    position: absolute;
    left: 99.86px;
    top: 1357.99px;
}

#Star1_HotDeal1 {
    width: 16.899904572587218px;
    height: 17.65678619514688px;
    position: absolute;
    left: 106.97px;
    top: 1706.04px;
}

#Star2_HotDeal1 {
    width: 16.89990457258719px;
    height: 17.65678619514688px;
    position: absolute;
    left: 133.27px;
    top: 1706.04px;
}

#Star3_HotDeal1 {
    width: 16.899904572587218px;
    height: 17.65678619514688px;
    position: absolute;
    left: 161.74px;
    top: 1706.04px;
}

#Star4_HotDeal1 {
    width: 16.899904572587218px;
    height: 17.65678619514688px;
    position: absolute;
    left: 191px;
    top: 1706.04px;
}

#Star5_HotDeal1 {
    width: 16.899904572587218px;
    height: 17.65678619514688px;
    position: absolute;
    left: 217.47px;
    top: 1706.04px;
}

#HotDeal2 {
    width: 287.6119961179237px;
    height: 313.76768575220353px;
    position: absolute;
    left: 468.83px;
    top: 1357.99px;
}

#Star1_HotDeal2 {
    width: 16.899904572587218px;
    height: 17.65678619514688px;
    position: absolute;
    left: 468.83px;
    top: 1706.04px;
}

#Star2_HotDeal2 {
    width: 16.899904572587218px;
    height: 17.65678619514688px;
    position: absolute;
    left: 500.24px;
    top: 1706.04px;
}

#Star3_HotDeal2 {
    width: 16.899904572587218px;
    height: 17.65678619514688px;
    position: absolute;
    left: 534.24px;
    top: 1706.04px;
}

#Star4_HotDeal2 {
    width: 16.899904572587218px;
    height: 17.65678619514688px;
    position: absolute;
    left: 569.17px;
    top: 1706.04px;
}

#Star5_HotDeal2 {
    width: 16.899904572587218px;
    height: 17.65678619514688px;
    position: absolute;
    left: 600.78px;
    top: 1706.04px;
}

#HotDeal3 {
    width: 287.6119961179237px;
    height: 313.76768575220353px;
    position: absolute;
    left: 849.63px;
    top: 1357.99px;
}

#Star1_HotDeal3 {
    width: 16.899904572587218px;
    height: 17.65678619514688px;
    position: absolute;
    left: 849.63px;
    top: 1706.04px;
}
#Star2_HotDeal3 {
    width: 16.899904572587218px;
    height: 17.65678619514688px;
    position: absolute;
    left: 880.63px;
    top: 1706.04px;
}

#Star3_HotDeal3 {
    width: 16.899904572587218px;
    height: 17.65678619514688px;
    position: absolute;
    left: 914.63px;
    top: 1706.04px;
}

#Star4_HotDeal3 {
    width: 16.899904572587218px;
    height: 17.65678619514688px;
    position: absolute;
    left: 949.63px;
    top: 1706.04px;
}

#Star5_HotDeal3 {
    width: 16.899904572587218px;
    height: 17.65678619514688px;
    position: absolute;
    left: 981.63px;
    top: 1706.04px;
}


#HotDeal4 {
    width: 287.6119961179237px;
    height: 313.76768575220353px;
    position: absolute;
    left: 1223.62px;
    top: 1357.99px;
}

#Star1_HotDeal4 {
    width: 16.899904572587218px;
    height: 17.65678619514688px;
    position: absolute;
    left: 1230.73px;
    top: 1706.04px;
}

#Star2_HotDeal4 {
    width: 16.899904572587218px;
    height: 17.65678619514688px;
    position: absolute;
    left: 1257.04px;
    top: 1706.04px;
}


#Star3_HotDeal4 {
    width: 16.899904572587218px;
    height: 17.65678619514688px;
    position: absolute;
    left: 1285.51px;
    top: 1706.04px;
}


#Star4_HotDeal4 {
    width: 16.899904572587218px;
    height: 17.65678619514688px;
    position: absolute;
    left: 1314.76px;
    top: 1706.04px;
}


#Star5_HotDeal4 {
    width: 16.899904572587218px;
    height: 17.65678619514688px;
    position: absolute;
    left: 1341.23px;
    top: 1706.04px;
}

#HotDeal1_Review {
    width: 130.69921875px;
    height: 27.0px;
    font-family: Arial;
    font-size: 20px;
    font-weight: 400;
    color: #999999;
    position: absolute;
    left: 253.17px;
    top: 1684px;
}

#HotDeal2_Review {
    width: 130.69921875px;
    height: 27.0px;
    font-family: Arial;
    font-size: 20px;
    font-weight: 400;
    color: #999999;
    position: absolute;
    left: 638.79px;
    top: 1684px;
}

#HotDeal3_Review {
    width: 144.046875px;
    height: 27.0px;
    font-family: Arial;
    font-size: 20px;
    font-weight: 400;
    color: #999999;
    position: absolute;
    left: 1011.85px;
    top: 1684px;
}

#HotDeal4_Review {
    width: 130.69921875px;
    height: 27.0px;
    font-family: Arial;
    font-size: 20px;
    font-weight: 400;
    color: #999999;
    position: absolute;
    left: 1376.93px;
    top: 1684px;
}

#HotDeal1_Text {
    width: 237.1874542236328px;
    height: 72.0px;
    font-family: Arial;
    font-size: 21.333334px;
    font-weight: 400;
    color: #333333;
    position: absolute;
    left: 120.5px;
    top: 1730px;
}

#HotDeal2_Text {
    width: 297.59375px;
    height: 72.0px;
    font-family: Arial;
    font-size: 21.333334px;
    font-weight: 400;
    color: #333333;
    position: absolute;
    left: 471.5px;
    top: 1730px;
}

#HotDeal3_Text {
    width: 324.18756103515625px;
    height: 72.0px;
    font-family: Arial;
    font-size: 21.333334px;
    font-weight: 400;
    color: #333333;
    position: absolute;
    left: 836.21px;
    top: 1730px;
}

#HotDeal4_Text {
    width: 272.69793701171875px;
    height: 72.0px;
    font-family: Arial;
    font-size: 21.333334px;
    font-weight: 400;
    color: #333333;
    position: absolute;
    left: 1244.26px;
    top: 1730px;
}

#HotDeal1_GiaChuaGiam {
    width: 147.14842224121094px;
    height: 60.0px;
    font-family: Arial;
    font-size: 26.666668px;
    font-weight: 400;
    text-decoration: line-through;
    color: #333333;
    background-color: #FFFFFF;
    position: absolute;
    left: 149.72px;
    top: 1826.22px;
}

#HotDeal1_GiaDaGiam {
    width: 147.14842224121094px;
    height: 60.0px;
    font-family: Arial;
    font-size: 26.666668px;
    font-weight: 400;
    color: #FF0000;
    background-color: #FFFFFF;
    position: absolute;
    left: 149.72px;
    top: 1859px;
}

#HotDeal2_GiaChuaGiam {
    width: 147.14842224121094px;
    height: 60.0px;
    font-family: Arial;
    font-size: 26.666668px;
    font-weight: 400;
    text-decoration: line-through;
    color: #333333;
    background-color: #FFFFFF;
    position: absolute;
    left: 536.05px;
    top: 1826.22px;
}

#HotDeal2_GiaDaGiam {
    width: 147.14842224121094px;
    height: 60.0px;
    font-family: Arial;
    font-size: 26.666668px;
    font-weight: 400;
    color: #FF0000;
    background-color: #FFFFFF;
    position: absolute;
    left: 536.05px;
    top: 1859px;
}

#HotDeal3_GiaChuaGiam {
    width: 147.14842224121094px;
    height: 60.0px;
    font-family: Arial;
    font-size: 26.666668px;
    font-weight: 400;
    text-decoration: line-through;
    color: #333333;
    background-color: #FFFFFF;
    position: absolute;
    left: 919.86px;
    top: 1826.22px;
}

#HotDeal3_GiaDaGiam {
    width: 147.14842224121094px;
    height: 60.0px;
    font-family: Arial;
    font-size: 26.666668px;
    font-weight: 400;
    color: #FF0000;
    background-color: #FFFFFF;
    position: absolute;
    left: 919.86px;
    top: 1859px;
}

#HotDeal4_GiaChuaGiam {
    width: 147.14842224121094px;
    height: 60.0px;
    font-family: Arial;
    font-size: 26.666668px;
    font-weight: 400;
    text-decoration: line-through;
    color: #333333;
    background-color: #FFFFFF;
    position: absolute;
    left: 1288.48px;
    top: 1826.22px;
}

#HotDeal4_GiaDaGiam {
    width: 147.14842224121094px;
    height: 60.0px;
    font-family: Arial;
    font-size: 26.666668px;
    font-weight: 400;
    color: #FF0000;
    background-color: #FFFFFF;
    position: absolute;
    left: 1288.48px;
    top: 1859px;
}

#rectangle_HotDealLeft {
    width: 74.909472073752px;
    height: 563.2175743560274px;
    font-family: Arial;
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    line-height: 18px;
    color: #333333;
    background-color: #F2F2F2;
    position: absolute;
    left: 0px;
    top: 1343px;
}

#rectangle_HotDealLeft:hover {
    opacity:0.5;
    cursor:pointer;
}

#rectangle_HotDealRight {
    width: 74.90947207375211px;
    height: 563.2175540574563px;
    font-family: Arial;
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    line-height: 18px;
    color: #333333;
    background-color: #F2F2F2;
    position: absolute;
    left: 1504.09px;
    top: 1343px;
}

#rectangle_HotDealRight:hover {
    opacity: 0.5;
    cursor:pointer;

}

#text1_ft {
    width: 195.36803013185664px;
    height: 16.0px;
    font-family: Arial;
    font-size: 14.0px;
    font-weight: 500;
    color: #666666;
    position: absolute;
    top: 2108px;
    left: 352px;
}

#text2_ft {
    width: 195.36803013185664px;
    height: 16.0px;
    font-family: Arial;
    font-size: 14.0px;
    font-weight: 500;
    color: #666666;
    position: absolute;
    top: 2108px;
    left: 617px;
}

#text3_ft {
    width: 195.36803013185624px;
    height: 16.0px;
    font-family: Arial;
    font-size: 14.0px;
    font-weight: 500;
    color: #666666;
    position: absolute;
    top: 2108px;
    left: 887px;
}

#text4_ft {
    width: 195.36803013185624px;
    height: 16.0px;
    font-family: Arial;
    font-size: 14.0px;
    font-weight: 500;
    color: #666666;
    position: absolute;
    top: 2108px;
    left: 1186px;
}

#text5_ft {
    width: 173.48681075708856px;
    height: 91.99999999999955px;
    font-family: Arial;
    font-size: 13.333334px;
    line-height: 22px;
    color: #B2B2B2;
    position: absolute;
    top: 2132px;
    left: 352px;
}

#text6_ft {
    width: 173.48681075708856px;
    height: 91.99999999999955px;
    font-family: Arial;
    font-size: 13.333334px;
    line-height: 22px;
    color: #B2B2B2;
    position: absolute;
    top: 2132px;
    left: 617px;
}

#Email_textbox {
    width: 346.2918966478908px;
    height: 29.999999999999545px;
    font-family: Arial;
    font-size: 12.0px;
    color: #B2B2B2;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 0px;
    padding-top: 1px;
    padding-right: 6px;
    padding-bottom: 1px;
    padding-left: 11px;
    position: absolute;
    left: 1186px;
    top: 2150px;
}

#FB_ft {
    position: absolute;
    top: 2150px;
    left: 887px;
}

#IG_ft {
    position: absolute;
    top: 2150px;
    left: 937px;
}

.HOT_DEAL {
    position:absolute;
    left: -18px;
    top: 0px;
}

#Next_HotDeal {
    position: absolute;
    left: 15px;
    top: 281.5px; 
}

#Back_HotDeal {
    position: absolute;
    left: 15px;
    top: 281.5px;
    transform: rotate(180deg);
}

#Hello_Text {
    font-family: Arial;
    font-size: 16px;
    color: #000000;
    position: absolute;
    left: 1442.433px;
    top: 14px;
}

#Button_LogOut {
    font-family: Arial;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    position: absolute;
    left: 1442.433px;
    top: 53px;
    text-decoration: none;
}

    #Button_LogOut:hover {
        color: darkblue;
    }






