body {
    margin: 0;
    padding: 0;
}

#Logo_Header {
    width: 99.00000000000011px;
    height: 73.99999999999989px;
    position: absolute;
    top: 49px;
    left: 513px;
}

#Text_Header {
    width: 466.15625px;
    height: 73.0px;
    font-family: Arial;
    font-size: 64.0px;
    font-weight: 400;
    color: #000000;
    position: absolute;
    top: -15px;
    left: 638.88px;
}

#Product_SanPham {
    width: 268.17456359102243px;
    height: 64.0px;
    font-family: Arial;
    font-size: 21.333334px;
    font-weight: 400;
    text-align: center;
    line-height: 18px;
    color: #333333;
    background: linear-gradient(#FEADB9,rgba(188,133,163,0.5));
    border: 1px solid #000000;
    position: absolute;
    top: 136px;
    left: 136.35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#Product_DonHang {
    width: 268.1745635910226px;
    height: 64.0px;
    font-family: Arial;
    font-size: 21.333334px;
    font-weight: 400;
    text-align: center;
    line-height: 18px;
    color: #333333;
    background: linear-gradient(#BC85A3,rgba(151,153,186,0.5));
    border: 1px solid #000000;
    position: absolute;
    left: 406px;
    top: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#Product_KhachHang {
    width: 268.17456359102243px;
    height: 64.0px;
    font-family: Arial;
    font-size: 21.333334px;
    font-weight: 400;
    text-align: center;
    line-height: 18px;
    color: #333333;
    background: linear-gradient(#FEADB9,rgba(188,133,163,0.5));
    border: 1px solid #000000;
    position: absolute;
    left: 675px;
    top: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#Product_DoanhThu {
    width: 268.17456359102243px;
    height: 64.0px;
    font-family: Arial;
    font-size: 21.333334px;
    font-weight: 400;
    text-align: center;
    line-height: 18px;
    color: #333333;
    background: linear-gradient(#FEADB9,rgba(188,133,163,0.5));
    border: 1px solid #000000;
    position: absolute;
    left: 944px;
    top: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#Product_TaiKhoan {
    width: 268.17456359102243px;
    height: 64.0px;
    font-family: Arial;
    font-size: 21.333334px;
    font-weight: 400;
    text-align: center;
    line-height: 18px;
    color: #333333;
    background: linear-gradient(#FEADB9,rgba(188,133,163,0.5));
    border: 1px solid #000000;
    position: absolute;
    left: 1213px;
    top: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Header {
    position:absolute;
    left: -15px;
}

#Footer_Text {
    width: 309.8372802734375px;
    height: 103.99999999999955px;
    font-family: Arial;
    font-size: 18.666668px;
    font-weight: 400;
    text-align: center;
    line-height: 28px;
    color: #1EAAF1;
    position: absolute;
    left: 645.08px;
    top: 972px;
}

#rectangle {
    width: 1345px;
    height: 42.99999999999977px;
    font-family: Arial;
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    background: linear-gradient(#F9E1E0,#FFFFFF);
    position: absolute;
    top: 265px;
    left: 136.35px;
}

#search_bar {
    width: 269.9999999999997px;
    height: 40.0px;
    font-family: Arial;
    font-size: 16px;
    color: #666666;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 0px;
    padding-top: 1px;
    padding-right: 41px;
    padding-bottom: 1px;
    padding-left: 11px;
    position: absolute;
    top: 334px;
    left: 121.35px;
}

#seach_icon {
    position: absolute;
    top: 344px;
    left: 356px;
    opacity: 0.5;
}

    #seach_icon:hover {
        cursor: pointer;
        opacity: 1;
    }

#Filter {
    width: 210px;
    height: 40.0px;
    font-family: Arial;
    font-size: 16.0px;
    font-weight: 400;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    position: absolute;
    top: 334px;
    left: 430px;
}

#Arrow_icon_up {
    position: absolute;
    top: 340px;
    left: 620px;
    transform: rotate(270deg);
    opacity: 0.5;
}

    #Arrow_icon_up:hover {
        cursor: pointer;
        opacity: 1;
    }

#Arrow_icon_down {
    position: absolute;
    top: 358px;
    left: 620px;
    transform: rotate(90deg);
    opacity: 0.5;
}

    #Arrow_icon_down:hover {
        cursor: pointer;
        opacity: 1;
    }

#Dang_SP {
    width: 191.99999999999955px;
    height: 58.0px;
    font-family: Arial;
    font-size: 16.0px;
    font-weight: 400;
    color: #000000;
    background: linear-gradient(#BC85A3,rgba(151,153,186,0.5));
    position: absolute;
    left: 1274px;
    top: 334px;
    display: flex;
    align-items: center;
}

#Dang_SP:hover {
    font-weight: 700;
    cursor: pointer;
}

#Create_img {
    position: absolute;
    left: 1428px;
    top: 354px;
}

#rectangle_1 {
    width: 122.00000000000017px;
    height: 45.00000000000006px;
    font-family: Arial;
    font-size: 16.0px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    background: linear-gradient(rgba(249,225,224,0.5),rgba(254,173,185,0.5));
    border: 1px solid #404040;
    position: absolute;
    top: 400px;
    left: 121.35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#rectangle_2 {
    width: 122.00000000000017px;
    height: 45.00000000000006px;
    font-family: Arial;
    font-size: 16.0px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    background: linear-gradient(#F9E1E0,#FEADB9);
    border: 1px solid #404040;
    position: absolute;
    top: 400px;
    left: 267.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#rectangle_3 {
    width: 122.00000000000017px;
    height: 45.00000000000006px;
    font-family: Arial;
    font-size: 16.0px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    background: linear-gradient(rgba(249,225,224,0.5),rgba(254,173,185,0.5));
    border: 1px solid #404040;
    position: absolute;
    top: 400px;
    left: 413px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#rectangle_4 {
    width: 122.00000000000017px;
    height: 45.00000000000006px;
    font-family: Arial;
    font-size: 16.0px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    background: linear-gradient(rgba(249,225,224,0.5),rgba(254,173,185,0.5));
    border: 1px solid #404040;
    position: absolute;
    top: 400px;
    left: 558.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#rectangle_SP1 {
    width: 388px;
    height: 188.9999999999999px;
    font-family: Arial;
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    background-color: #EFEFEF;
    position: absolute;
    top: 490px;
    left: 194px;
}

#rectangle_SP2 {
    width: 388px;
    height: 188.9999999999999px;
    font-family: Arial;
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    background-color: #EFEFEF;
    position: absolute;
    top: 490px;
    left: 620px;
}

#rectangle_SP3 {
    width: 388px;
    height: 188.9999999999999px;
    font-family: Arial;
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    background-color: #EFEFEF;
    position: absolute;
    top: 490px;
    left: 1046px;
}

#rectangle_SP4 {
    width: 388px;
    height: 188.9999999999999px;
    font-family: Arial;
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    background-color: #EFEFEF;
    position: absolute;
    top: 700px;
    left: 194px;
}

#rectangle_SP5 {
    width: 388px;
    height: 188.9999999999999px;
    font-family: Arial;
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    background-color: #EFEFEF;
    position: absolute;
    top: 700px;
    left: 620px;
}

#rectangle_SP6 {
    width: 388px;
    height: 188.9999999999999px;
    font-family: Arial;
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    background-color: #EFEFEF;
    position: absolute;
    top: 700px;
    left: 1046px;
}

.Hoa_Don_Ban_Hang {
    position: absolute;
    left: -15px;
}

#Img_SP1 {
    position: absolute;
    top: 510px;
    left: 213px;
    cursor: pointer;
}

#Img_SP2 {
    position: absolute;
    top: 510px;
    left: 639px;
    cursor: pointer;
}

#Img_SP3 {
    position: absolute;
    top: 510px;
    left: 1065px;
    cursor: pointer;
}

#Img_SP4 {
    position: absolute;
    top: 718px;
    left: 639px;
    cursor: pointer;
}

#Img_SP5 {
    position: absolute;
    top: 718px;
    left: 213.11px;
    cursor: pointer;
}

#Img_SP6 {
    position: absolute;
    top: 718px;
    left: 1065px;
    cursor: pointer;
}

#Page_1 {
    width: 41.000000000000114px;
    height: 38.0px;
    font-family: Arial;
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    background-color: #A9A9A9;
    position: absolute;
    top: 887px;
    left: 652px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

    #Page_1:hover {
        font-weight: 700;
    }


#Page_2 {
    width: 41.000000000000114px;
    height: 38.0px;
    font-family: Arial;
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    background-color: #D9D9D9;
    position: absolute;
    top: 887px;
    left: 716px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

    #Page_2:hover {
        font-weight: 700;
    }


#Page_3 {
    width: 41.000000000000114px;
    height: 38.0px;
    font-family: Arial;
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    background-color: #D9D9D9;
    position: absolute;
    top: 887px;
    left: 779.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

    #Page_3:hover {
        font-weight: 700;
    }


#Page_dot {
    width: 41.000000000000114px;
    height: 38.0px;
    font-family: Arial;
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    background-color: #D9D9D9;
    position: absolute;
    top: 887px;
    left: 843px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

    #Page_dot:hover {
        font-weight: 700;
    }

#Page_25 {
    width: 41.000000000000114px;
    height: 38.0px;
    font-family: Arial;
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    background-color: #D9D9D9;
    position: absolute;
    top: 887px;
    left: 907px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

    #Page_25:hover {
        font-weight: 700;
    }

.Page_Number {
    position: absolute;
    top: 25px;
}

#Text_SP1 {
    width: 183.0703125px;
    height: 90.0px;
    font-family: Arial;
    font-size: 16.0px;
    font-weight: 400;
    color: #333333;
    position: absolute;
    top: 495px;
    left: 358px;
}

#Text_SP2 {
    width: 183.0703125px;
    height: 90.0px;
    font-family: Arial;
    font-size: 16.0px;
    font-weight: 400;
    color: #333333;
    position: absolute;
    top: 495px;
    left: 780px;
}

#Text_SP3 {
    width: 183.0703125px;
    height: 90.0px;
    font-family: Arial;
    font-size: 16.0px;
    font-weight: 400;
    color: #333333;
    position: absolute;
    top: 495px;
    left: 1205px;
}

#Text_SP4 {
    width: 183.0703125px;
    height: 90.0px;
    font-family: Arial;
    font-size: 16.0px;
    font-weight: 400;
    color: #333333;
    position: absolute;
    top: 705px;
    left: 358px;
}

#Text_SP5 {
    width: 183.0703125px;
    height: 90.0px;
    font-family: Arial;
    font-size: 16.0px;
    font-weight: 400;
    color: #333333;
    position: absolute;
    top: 705px;
    left: 780px;
}

#Text_SP6 {
    width: 183.0703125px;
    height: 90.0px;
    font-family: Arial;
    font-size: 16.0px;
    font-weight: 400;
    color: #333333;
    position: absolute;
    top: 705px;
    left: 1205px;
}

#Button_Xem_SP1 {
    width: 135.05085963504814px;
    height: 28.99999999999943px;
    font-family: Arial;
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    background-color: #D9D9D9;
    position: absolute;
    top: 630px;
    left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

    #Button_Xem_SP1:hover {
        background-color: #A9A9A9;
        cursor: pointer;
    }

#Button_Xoa_SP1 {
    width: 135.05085963504814px;
    height: 28.99999999999943px;
    font-family: Arial;
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    background-color: #D9D9D9;
    position: absolute;
    top: 630px;
    left: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

    #Button_Xoa_SP1:hover {
        background-color: #A9A9A9;
        cursor: pointer;
    }

#Button_Xem_SP2 {
    width: 135.05085963504814px;
    height: 28.99999999999943px;
    font-family: Arial;
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    background-color: #D9D9D9;
    position: absolute;
    top: 630px;
    left: 629px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

    #Button_Xem_SP2:hover {
        background-color: #A9A9A9;
        cursor: pointer;
    }

#Button_Xoa_SP2 {
    width: 135.05085963504814px;
    height: 28.99999999999943px;
    font-family: Arial;
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    background-color: #D9D9D9;
    position: absolute;
    top: 630px;
    left: 789px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

    #Button_Xoa_SP2:hover {
        background-color: #A9A9A9;
        cursor: pointer;
    }

#Button_Xem_SP3 {
    width: 135.05085963504814px;
    height: 28.99999999999943px;
    font-family: Arial;
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    background-color: #D9D9D9;
    position: absolute;
    top: 630px;
    left: 1055px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

    #Button_Xem_SP3:hover {
        background-color: #A9A9A9;
        cursor: pointer;
    }

#Button_Xoa_SP3 {
    width: 135.05085963504814px;
    height: 28.99999999999943px;
    font-family: Arial;
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    background-color: #D9D9D9;
    position: absolute;
    top: 630px;
    left: 1215px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

    #Button_Xoa_SP3:hover {
        background-color: #A9A9A9;
        cursor: pointer;
    }

#Button_Xem_SP4 {
    width: 135.05085963504814px;
    height: 28.99999999999943px;
    font-family: Arial;
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    background-color: #D9D9D9;
    position: absolute;
    top: 838px;
    left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

    #Button_Xem_SP4:hover {
        background-color: #A9A9A9;
        cursor: pointer;
    }

#Button_Xoa_SP4 {
    width: 135.05085963504814px;
    height: 28.99999999999943px;
    font-family: Arial;
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    background-color: #D9D9D9;
    position: absolute;
    top: 838px;
    left: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

    #Button_Xoa_SP4:hover {
        background-color: #A9A9A9;
        cursor: pointer;
    }

#Button_Xem_SP5 {
    width: 135.05085963504814px;
    height: 28.99999999999943px;
    font-family: Arial;
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    background-color: #D9D9D9;
    position: absolute;
    top: 838px;
    left: 629px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

    #Button_Xem_SP5:hover {
        background-color: #A9A9A9;
        cursor: pointer;
    }

#Button_Xoa_SP5 {
    width: 135.05085963504814px;
    height: 28.99999999999943px;
    font-family: Arial;
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    background-color: #D9D9D9;
    position: absolute;
    top: 838px;
    left: 789px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

    #Button_Xoa_SP5:hover {
        background-color: #A9A9A9;
        cursor: pointer;
    }

#Button_Xem_SP6 {
    width: 135.05085963504814px;
    height: 28.99999999999943px;
    font-family: Arial;
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    background-color: #D9D9D9;
    position: absolute;
    top: 838px;
    left: 1055px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

    #Button_Xem_SP6:hover {
        background-color: #A9A9A9;
        cursor: pointer;
    }

#Button_Xoa_SP6 {
    width: 135.05085963504814px;
    height: 28.99999999999943px;
    font-family: Arial;
    font-size: 13.333334px;
    font-weight: 400;
    text-align: center;
    color: #333333;
    background-color: #D9D9D9;
    position: absolute;
    top: 838px;
    left: 1215px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

    #Button_Xoa_SP6:hover {
        background-color: #A9A9A9;
        cursor: pointer;
    }

#Log_in {
    width: 96.44140625px;
    height: 21.0px;
    font-family: Arial;
    font-size: 18.666668px;
    font-weight: 700;
    color: #000000;
    position: absolute;
    left: 1360px;
    top: 60px;
}

    #Log_in:hover {
        color: #BC85A3;
    }

#User_icon {
    position: absolute;
    left: 1300.43px;
    top: 70px;
}