
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/_QT_TrangChu.cshtml";
}

<div class="Header">
    <img src="~/Images/user_QT.png"
         id="User_icon"
         width="45"/>
    <a href="https://localhost:44357/QT_TrangChu/Index">
        <img id="Logo_Header"
             src="~/Images/bird.png"
             width="99" />
        <p id="Text_Header">LaptopNganNgo</p>
    </a>

    <p id="Product_SanPham">Sản phẩm</p>
    <a href="https://localhost:44357/QT_DonHang/Index">
        <p id="Product_DonHang">Đơn hàng</p>
    </a>
    <p id="Product_KhachHang">Khách hàng</p>
    <p id="Product_DoanhThu">Doanh thu</p>
    <p id="Product_TaiKhoan">Tài khoản</p>

    <span id="rectangle"></span>

</div>
<div>
    @if (Session["HoTen"] != null)
    {
        <p id="Hello_Text">@Session["HoTen"].ToString()</p>
        <a href="@Url.Action("LogOut", "QT_DangNhap")" id="Button_LogOut">Đăng xuất</a>
    }
    else if (Session["Email"] != null && Session["HoTen"] == null)
    {
        <p id="Hello_Text">Chào bạn,</p>
        <a href="@Url.Action("LogOut", "QT_DangNhap")" id="Button_LogOut">Đăng xuất</a>
    }

</div>
<div class="Footer">
    <p id="Footer_Text">
        2021
    <br />Powered by Squad Ngáo Ngơ
</p>
</div>

<div class="trang_chu">
    <div class="Search_bar">
        <input type="search"
               id="search_bar"
               placeholder="Tìm kiếm" />
        <img id="seach_icon"
             src="~/Images/search.png"
             width="19" />
    </div>

    <div class="Filter_bar">
        <div id="Filter">
            Từ trước tới nay
        </div>
        <img id="Arrow_icon_up"
             width="13"
             src="~/Images/next.png" />
        <img id="Arrow_icon_down"
             width="13"
             src="~/Images/next.png" />
    </div>

    <a href="https://localhost:44357/SanPhams/Create">
        <div id="Dang_SP">
            &nbsp;&nbsp;&nbsp;
            &nbsp;&#160;&#160;Tạo sản phẩm
        </div>
    </a>
   

    <a href="https://localhost:44357/HangSPs/Create">
        <div id="Hang">
            &nbsp;&nbsp;&nbsp;
            &nbsp;&#160;&#160;Thêm Hãng SP
        </div>
    </a>

        <img id="Create_img"
             width="20"
             src="~/Images/add.png" />

        <a href="https://localhost:44357/QT_XemCTTrangChu/Index">
            <div class="San_Pham">

                <div id="rectangle_1"></div>
                <div id="rectangle_2"></div>
                <div id="rectangle_3"></div>
                <div id="rectangle_4"></div>

                <img id="SP1"
                     width="168"
                     src="~/Images/SP1.jpg" />

                <img id="SP2"
                     width="168"
                     src="~/Images/SP2.png" />

                <img id="SP3"
                     width="168"
                     src="~/Images/SP3.png" />

                <img id="SP4"
                     width="168"
                     src="~/Images/SP4.png" />

                <div class="SP1">
                    <p id="date_SP1">
                        17/10/2020
                    </p>

                    <p id="tag_SP1">
                        # LaptopASUS
                    </p>

                    <p id="name_SP1">
                        Laptop gaming ASUS ROG <br />
                        Strix G G531GT HN553T
                    </p>

                    <p id="price_SP1">
                        Giá Cũ: <del>22,990,000₫</del> <br />
                        Giá KM: <span style="color: red">20,990,000₫</span>
                    </p>
                </div>

                <div class="SP2">
                    <p id="date_SP2">
                        20/9/2020
                    </p>

                    <p id="tag_SP2">
                        # LaptopMSI
                    </p>

                    <p id="name_SP2">
                        Laptop Gaming MSI GF63 <br />
                        Thin 9SCSR 829VN
                    </p>

                    <p id="price_SP2">
                        Giá Cũ: <del>22,990,000₫</del> <br />
                        Giá KM: <span style="color: red">20,790,000₫</span>
                    </p>
                </div>

                <div class="SP3">
                    <p id="date_SP3">
                        03/09/2020
                    </p>

                    <p id="tag_SP3">
                        # LaptopDELL
                    </p>

                    <p id="name_SP3">
                        Laptop Dell Inspiron 14 <br />
                        3493 WTW3M2
                    </p>

                    <p id="price_SP3">
                        Giá Cũ: <del>10,590,000₫</del> <br />
                        Giá KM: <span style="color: red">10,290,000₫</span>
                    </p>
                </div>

                <div class="SP4">
                    <p id="date_SP4">
                        11/08/2020
                    </p>

                    <p id="tag_SP4">
                        # LaptopACER
                    </p>

                    <p id="name_SP4">
                        Laptop Acer Aspire 3 <br />
                        A315 56 59XY
                    </p>

                    <p id="price_SP4">
                        Giá Cũ: <del>12,990,000₫</del> <br />
                        Giá KM: <span style="color: red">11,990,000₫</span>
                    </p>
                </div>

            </div>
        </a>

        <div id="Page_1">1</div>
        <div id="Page_2">2</div>
        <div id="Page_3">3</div>
        <div id="Page_dot">...</div>
        <div id="Page_25">25</div>

</div>
