
@{
    ViewBag.Title = "Thanh toán - Lộ trình";
    Layout = "~/Views/_TT_LoTrinh.cshtml";
}
<div id="header">
    <div class="rectangle"></div>
    <div class="circle"></div>

    <a href="https://localhost:44357/TrangChu/Index">
        <p id="Tittle">LaptopNganNgo</p>
        <img id="LetterL" width="70"
             src="~/Images/royal-alphabet-crown-letter-english-l-512.png" />
    </a>

</div>

<div class="Footer">

    <div id="logo_footer">
        <img src="~/Images/royal-alphabet-crown-letter-english-l-512.png "
             width="70" />
    </div>
    <p id="text1_ft">Sản Phẩm  </p>
    <p id="text2_ft">Tiếp Xúc </p>
    <p id="text3_ft">Theo Dõi  </p>
    <p id="text4_ft">Đăng Ký </p>

    <pre id="text5_ft">Đặc Trưng
Quảng cáo  
Tải Xuống</pre>

    <pre id="text6_ft">Liên hệ
FAQ  
Trợ Giúp</pre>

    <input id="Email_textbox" type="text"
           placeholder="Nhập Email của bạn" />
    <img id="FB_ft" src="~/Images/FB.png "
         width="30" />
    <img id="IG_ft" src="~/Images/IG.png "
         width="30" />

</div>

<button class="button1"></button>
<button class="button2"></button>
<button class="button3"></button>
<button class="button4"></button>
<button class="button5"></button>

<button class="btn1"></button>
<button class="btn2"></button>
<button class="btn3"></button>
<button class="btn4"></button>

<p id="p1">Đặt hàng thành công</p>
<p id="p2">LaptopNganNgo đã tiếp nhận đơn hàng</p>
<p id="p3">Đóng gói xong</p>
<p id="p4">Đang vận chuyển</p>
<p id="p5">Giao hàng tiêu chuẩn (Dự kiến giao hàng Thứ bảy,<br>28/11/2020 - Không giao ngày Chủ Nhât)</p>
<p id="p6">Theo dõi đơn hàng #LT21905</p>
<p id="p7">TRẠNG THÁI ĐƠN HÀNG</p>
<p id="p8">TRẠNG THÁI ĐƠN HÀNG</p>

<div class="khung">

    <label id="lb1" style="text-align: left">Thứ năm, 26/11/2020</label>

    <p id="p9">14: 05 &emsp; &emsp; LaptopNganNgo đã tiếp nhận đơn hàng</p>
    <p id="p10">14: 01 &emsp; &emsp; Đặt hàng thành công</p>

</div>

