
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_QT_XemCTTrangChu.cshtml";
}

<div class="Header">

    <a href="https://localhost:44357/QT_TrangChu/Index">
        <img id="Logo_Header"
             src="~/Images/bird.png"
             width="99" />
        <p id="Text_Header">LaptopNganNgo</p>
    </a>

    <p id="Product_SanPham">Sản phẩm</p>
    <p id="Product_DonHang">Đơn hàng</p>
    <p id="Product_KhachHang">Khách hàng</p>
    <p id="Product_DoanhThu">Doanh thu</p>
    <p id="Product_TaiKhoan">Tài khoản</p>

    <span id="rectangle"></span>

</div>

<div class="Footer">
    <p id="Footer_Text">
        2021
        <br />Powered by Squad Ngáo Ngơ
    </p>
</div>

<div class="XemChiTietSP">

    <p id="C1">
        Laptop gaming ASUS ROG Strix G G531GT HN553T <br /><br />
        Nhà sản xuất: <br /> <br />
        Xuất xứ: <br /><br />
        Bảo hành: <br /><br />
        Tình trạng:
    </p>

    <p id="C2">
        ASUS <br /><br />
        Chính hãng <br /><br />
        24 Tháng <br /><br />
        Mới 100%
    </p>

    <p id="C3">
        SIÊU SALE KHÔNG QUÀ chỉ 20,990,000VNĐ <br /><br />
        <u>Quà tặng:</u>  (Khi mua với giá 22,990,000 VNĐ)
    </p>

    <p id="C4">
        ★ Túi chống shock 15.6" <br />
        ★ Nâng cấp miễn phí 16GB RAM <br />
        ★ Tai nghe Asus ROG Cetra Core trị giá 1.190.000 VNĐ <br /> <br />
        Giá:
    </p>

    <p id="C5">20,990,000₫</p>

    <button id="B1">Còn hàng</button>
    <button id="B2">Chỉnh sửa</button>
    <button id="B3">Xóa</button>

    <img id="H1" src="~/Images/H1.png" />
    <img id="H2" src="~/Images/H2.png" />
    <img id="H3" src="~/Images/H3.png" />
    <img id="H4" src="~/Images/H4.png" />
    <a href="https://localhost:44357/QT_TrangChu/Index">
        <img id="H5" src="~/Images/H5.png" />
    </a>


</div>
