
@{
    ViewBag.Title = "Cập Nhật Sản Phẩm";
    Layout = "~/Views/_QT_DangSP.cshtml";
}

<div class="Header">

    <img id="Logo_Header"
         src="~/Images/bird.png"
         width="99" />
    <p id="Text_Header">LaptopNganNgo</p>

    <p id="Product_SanPham">Sản phẩm</p>
    <p id="Product_DonHang">Đơn hàng</p>
    <p id="Product_KhachHang">Khách hàng</p>
    <p id="Product_DoanhThu">Doanh thu</p>
    <p id="Product_TaiKhoan">Tài khoản</p>

    <span id="rectangle"></span>
</div>
<div class="Footer">
    <p id="Footer_Text">
        2021
        <br />Powered by Squad Ngáo Ngơ
    </p>
</div>

<p id="Text">Thêm sản phẩm</p>

<div id="K1">

    <p id="T1">Thông tin chung</p>

    <p id="T2">
        Tên sản phẩm <br /><br /><br /><br />
    </p>

    <input id="T3" placeholder="Nhập tên sản phẩm">
    <p id="MT">Mô tả sản phẩm</p>
    <input id="S4">

</div>

<div id="K2">
    <p id="A1">
        Hình ảnh sản phẩm
    </p>

    <div id="Khung">
        <img id="iconDN"
             src="~/Images/HA.png" />

        <p id="add">Thêm hình ảnh</p>

    </div>

</div>

<div id="K3">
    <p id="A2">
        Giá tiền sản phẩm
    </p>
    <p id="Q1">
        Giá bán
    </p>

    <input id="W1" placeholder="0đ" type="number">
</div>

<div id="K4">
    <p id="A3">
        Tình trạng sản phẩm
    </p>
    <p id="Q3">
        Tình trạng
    </p>
    <p id="Q4">
        Số lượng
    </p>
    <input type="number" id="T9" placeholder="Nhập số lượng sản phẩm">

    <select id="W3">
        <option value="-1" selected>Tình trạng sản phẩm</option>
        <option>Còn hàng</option>
        <option>Hết hàng</option>
    </select>

</div>

<div id="K5">
    <p id="A4">
        Hãng sản phẩm
    </p>

    <select id="W4">
        <option value="-1" selected>Chọn hãng sản phẩm</option>
        <option>Dell</option>
        <option>Asus</option>
        <option>MSI</option>
        <option>Lenovo</option>
        <option>Apple</option>
        <option>Acer</option>
    </select>

</div>

<div id="K6">
    <p id="A5">
        Dòng sản phẩm
    </p>

    <select id="W5">
        <option value="-1" selected>Chọn dòng sản phẩm</option>
        <option>Legion</option>
        <option>Modern</option>
        <option>Inspiron</option>
        <option>Expertbook</option>
        <option>Aspire</option>
    </select>

</div>

<div id="K7">
    <p id="A6">
        Khuyến mãi
    </p>
    <input id="R" type="radio">
    <p id="A7"> Không áp dụng khuyến mãi </p>

</div>

<button id="myBtn">Lưu</button>
<button id="myBtn1">Hủy</button>
